<% @page_title = "Home" %>
<% @page_description = "New Description" %>

<div class="fullsite-intro">
  <div class="container">
		<div class="fullsite-header">
			<h1>Ride the Island Poker Run</h1>
			<h2>A Ride to Survive</h2>
			<h3>Benefitting Pink Heals Inc</h3>
		</div>
  </div>
</div>

<div class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-xs-12">
				<div class="details">
					<div class="col-md-4 col-xs-12 left">
							<p class="bmargin-0">Don't miss out:</p>
							<div class="col-md-8 col-md-offset-2 col-xs-12"><hr></div>
							<div class="clearfix"></div>
							<h3>April 1, 2017</h3>
							<h3>Sign in: 2p.m.<br> Ride starts at 3p.m. </h3>
							<h3 class="last">$25 per bike</h3>
							<%= link_to "Register Now", registration_path, class: 'reg-btn' %>
					</div>

					<div class="col-md-7 col-md-offset-1 col-xs-12 right">
						<h3>Ride the Island Poker Run has 7 stops, located all over the island, starting and ending at The Wharf. Food will be provided by our sponsors, and we will have live music from <span>The Whyte Caps</span> from 2-6p.m.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<section id="sponsors" class="sponsors">
		<div class="container">
				<div class="col-md-4 col-xs-12">
					<div class="proceeds">
						<%=image_tag('pink-heals-logo.png', alt: 'Ride the Island Poker Run, logo', class: 'img-responsive pinkheals') %>
						<h3 class="text-center">All proceeds from this event will be donated to Pink Heals Inc.</h3>
							<%= link_to "Learn More", pink_path, target:'_blank', class: 'reg-btn' %>
					</div>
				</div>

				<div class="col-md-7 col-md-offset-1 col-xs-12">
					<div class="sponsor-box">
						<h2>Our Sponsors</h2>
							<%= link_to(image_tag( 'gl-logo.jpg', alt: 'Ride the Island Sponsor - Ginny Lane Bar and Grill', class: 'img-responsive sponsor-logo'), ginnylane_path ) %>

							<%= link_to(image_tag( 'hotspot.png', alt: 'Ride the Island Sponsor - The Hot Spot Music and Grub', class: 'img-responsive sponsor-logo'), hotspot_path ) %>

							<%= link_to(image_tag( 'villagg-logo.png', alt: 'Ride the Island Sponsor - Villaggio Grille', class: 'img-responsive sponsor-logo'), villaggio_path ) %>

							<%= link_to(image_tag( 'wharf-logo.png', alt: 'Ride the Island Sponsor - The Wharf', class: 'img-responsive sponsor-logo'), wharf_path ) %>
					</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>

		<section id="stops">
			<div class="container">

				<div class="col-md-7">
				<h2>Ride the Island Stops</h2>
					<div class="col-md-6">
						<h3>The Wharf</h3>
						<h3>Big Beach Brewing</h3>
						<h3>Sassy Bass Amazin' Grill</h3>
						<h3>Hooters</h3>
					</div>

					<div class="col-md-6">
						<h3>Gilbey's Seafood &amp; Steak</h3>
						<h3>Flora Bama Yacht Club</h3>
						<h3>Pleasure Island Tiki Bar</h3>
					</div>
				</div>

				<div class="col-md-5 col-xs-12">
					<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1oOmh-Ngp1DrVbp8zCOYDiEDLDQ0" width="99%" height="260"></iframe>
				</div>
			</div>
		</section>


</div>
