<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Ride the Island Registration Form</h1>
    <p>Registration Information:</p>

    <p>Name: <%= @registration.name %> </p>

    <p>Email Address: <%= @registration.email %></p>

    <p>Phone Number: <%= @registration.phone %></p>

    <p>Number of People: <%= @registration.people %></p>

    <p>Number of Bikes: <%= @registration.bikes %></p>
  </body>
</html>
