<% content_for :title do %>Register for the Ride<% end %>

<div class="main-content">
	<div class="container">

			<h3>Registration Form</h3>

		 <%= form_for @registration, url: registration_path do |registration| %>
		    <fieldset>
		        <% if flash[:notice] %>
		            <div class="notice"><%= flash[:notice] %></div>
		        <% end %>

		        <% if flash[:alert] %>
		            <div class="notice"><%= flash[:alert] %></div>
		        <% end %>
		        <br>

		        <div class="form-group">
		            <%= registration.text_field :name, placeholder: "Name" %>
		        </div>

		        <div class="form-group xs">
		            <%= registration.text_field :phone, placeholder: "Phone"%>
		        </div>

		        <div class="form-group sm">
		            <%= registration.email_field :email, placeholder: "Email"%>
		        </div>

		        <div class="form-group">
		          <%= registration.text_area :content, placeholder: "Additional Message"%>
		        </div>

		        <div class="form-group honey">
		            <%= label_tag :honey %>
		            <%= registration.text_field :honey %>
		            <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
		        </div>

		        <div class="form-group col-md-12 col-xs-12">
		            <%= registration.submit "Submit", :class=> "send-message" %>
		        </div>
		    </fieldset>
		<% end %>


	</div>
</div>
