<header class="light">
  <div class="main-header">
    <div class="container-fluid">
        <div class="col-md-3 logo-block">
            <%= link_to(image_tag( 'rti-logo3.png', alt: 'Ride the Island Orange Beach, Al Logo', class: 'img-responsive logo-img'), root_path ) %>
        </div>

        <div class="col-md-9 mega-tab">
            <ul class="megamenu-parent menu-zoom">
              <li class="menu-item"><%= link_to "Home", root_path, class: 'nav-link' %></li>
              <!-- <li class="menu-item"><%= link_to "/#stops", class: 'nav-link' do %>Stops<% end %></li>  -->
              <!-- <li class="menu-item"><%= link_to "/#sponsors", class: 'nav-link' do %>Sponsors<% end %></li>  -->
              <li class="menu-item"><%= link_to "Registration", registration_path, class: 'nav-link' %></li>
              <li class="menu-item">
                <%= link_to '/fb', target: '_blank' do %>
                  <i class="fa fa-facebook"></i>
                <% end %>
              </li>
            </ul>
        </div>

    <!--
    IF the site ends up with multiple pages, add in the offcanvas info
    <div>
      <a href="#" id="offcanvas-toggler">
          <span></span>
          <span></span>
          <span></span>
      </a>
    </div> -->
  </div>
</header>
