<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content= "<%= @page_description %>">
	  <link rel="shortcut icon" href="/favicon.png">

	  <title><%= @page_title  %> | Ride the Island</title>
		<%= csrf_meta_tags %>
		<!--[if lt IE 9]>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
		  </script>
		<![endif]-->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	  <% unless current_page?(gallery_path) %> <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> <% end %>
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
		<%= render 'layouts/gac' %>
  </head>

  <body class=" <%= controller_name %> <%= action_name %>">
		<%= render 'layouts/header' %>
			<%= yield %>
		<%= render 'layouts/footer' %>
	 <% if current_page?(gallery_path) %> <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> <% end %>
	</body>
</html>



